@font-face {
  font-family: "iconfont"; /* Project id 2826146 */
  src: url('iconfont.woff2?t=1632451136959') format('woff2'),
       url('iconfont.woff?t=1632451136959') format('woff'),
       url('iconfont.ttf?t=1632451136959') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-showsidebarhoriz:before {
  content: "\e944";
}

.icon-xiangzuo:before {
  content: "\eb15";
}

.icon-show-all:before {
  content: "\e696";
}

.icon-video:before {
  content: "\e646";
}

.icon-video1:before {
  content: "\e60c";
}

.icon-video2:before {
  content: "\e61b";
}

.icon-Video:before {
  content: "\e657";
}

.icon-video3:before {
  content: "\e624";
}

.icon-xiazai4:before {
  content: "\e604";
}

.icon-hanbaobao:before {
  content: "\e605";
}

.icon-dianying:before {
  content: "\e679";
}

.icon-sousuo:before {
  content: "\e635";
}

.icon-shipin-:before {
  content: "\e609";
}

.icon-you:before {
  content: "\e621";
}

.icon-shipin:before {
  content: "\e66c";
}

.icon-sousuo1:before {
  content: "\e7d2";
}

.icon-wode:before {
  content: "\e78f";
}

.icon-sousuo2:before {
  content: "\e790";
}

.icon-shipin1:before {
  content: "\e600";
}

.icon-shipin2:before {
  content: "\e602";
}

.icon-shipin3:before {
  content: "\e603";
}

.icon-yanchu-xianxing2-0:before {
  content: "\e683";
}

